:host {
  gap: 10px;

  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

h1 {
  color: var(--text-1);

  font-family: BitcountGridDouble;
  font-weight: 300;
  font-size: 50px;
}
